<p id="notice"><%= notice %></p>

<h1>Usuários:</h1>
<% if not @users.any? %>
	<h5>Nenhum usuário...</h5>
<% else %>
	<%= render @users %>
<% end %>
<br>

<% if not logged_in? %>
  <%= link_to 'Sign Up!', signup_path %>
<% end %>
