<p style="border: 1px solid black; border-color: black; padding: 5px;" >
  <%= link_to gravatar_for(challenge.user, size: 50), challenge.user %>
  <span><%= link_to challenge.user.name, challenge.user %></span>
  <span><%= challenge.content %></span>
  <span style="font-size: small">
    Posted <%= time_ago_in_words(challenge.created_at) %> ago.
  </span>
</p>