<p id="notice"><%= notice %></p>

<h1>Challenges</h1>

<table align="center">
    <% if @challenges.any? %>
      <%= render @challenges %>
    <% end %>
    <% if not @challenges.any? %>
      <h5> Nenhum desafio... </h5>
  <% end %>
</table>

<br>

