@import "bootstrap-sprockets";
@import "bootstrap";

body {

}

table {
  align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */
.vido {
  padding: 3%;

}
header {
  position: fixed;
  z-index: 10000000000;
  width: 100%;
}
.header1 {
  background: #ff8534;
  
}
.header2{
  background: #ff8533;
  
}

main {
  padding-top: 4em;
  background: #FFFFFF;
}
.header-img-buttom {
  padding: 3%;
}

.search_bar {
  margin: 5%;
  
}
/* forms
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
input[type=search]{
  width: 70%
}*/
/* User */

.user-name {
  margin-left: 0%;
  font-size: large;
} 

/* file upload */
.image-upload > input
{
   display: none;
}
.image-upload > label{
  cursor:pointer;
}
body {
  overflow: auto;
} 
section {
   overflow: hidden;
}
article h6 {
  text-align: center;
}