<header >
    <div class="header1 col-xs-12">
		<% if logged_in? %>
			<%= link_to current_user do %>
				<%= image_tag "usuario.png", class: "col-xs-2 header-img-buttom" %>
			<% end %>
			<%= link_to feed_path do %>
				<%= image_tag "terra.png", style: "float: right", class: "col-xs-2 header-img-buttom" %>
			<% end %>
	  	<%else%>
	  		Vido
	  	<% end %>
	</div>
</header>


